<a href="https://colab.research.google.com/github/MuhamedNahshan/python/blob/main/PythonClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list = [1,2,[6,7,8.5],5,7,[6.8,8.4]]
for i in list:
              print(i)

1
2
[6, 7, 8.5]
5
7
[6.8, 8.4]

In [ ]:
list = ["abu","Salman","savad"]
print(list[0])

abu

Subscript operator

In [ ]:
natural = [1,2,3,4,5,6,7,8,9]
print(natural[0])
print(natural[2:5])
print(natural[-1])
print(natural[-3:])
print(natural[6-2])

1
[3, 4, 5]
9
[7, 8, 9]
5

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
print(list[2:5])
print(list[3:])
print(list[:5])
print(list[3:7])
print(list[:])
print(list[:-5])
print(list[-4:])

[3, 4, 5]
[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[6, 7, 8, 9]

CONCATENATION OF LIST USING+

In [ ]:
list1 = [1,2,3,4,5]
list0= list1+[6,7,8]
print(list1)
print(list0)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

EQUALITY OPERATOR (==) WELL ON LIST

In [ ]:
even=[2,4,6,8]
odd=[1,3,5,7,9,11,13]
even1=[6,10,22]
print(even>odd)
print(even<odd)
print(even>even1)

True
False
False

MEMBERSHIP OPERATOR IN LIST

In [ ]:
even=[2,4,6,8]

print(even)

[2, 4, 6, 8]

REPLACING

In [ ]:
list1=[2,4,8]
list1[1]=16
print(hulist1)

[2, 16, 8]

In [ ]:
Functions

In [ ]:
def factorial(num):
  fact = 1
  for i in range(1,num+1):
    fact=fact*i
  print(fact)

num=int(input("enter type b"))
factorial(num)

enter type b5
120

In [ ]:
celcius to farenheit

In [ ]:
def celcius_to_fahrenheit(c):
      f=(c*9/5)+32
      print(f)
 #main
b=float(input("celcius"))
celcius_to_fahrenheit(b)

celcius4.5
40.1

In [ ]:
def even_number_in_list(e):
   c=[]
   for a in e:
       if a%2==0:
        c.append(a)
   print(c)
e=[]
n=int(input("size:"))
for i in range(n):
   e.append(int(input("Number:")))
even_number_in_list(e)

size:5
Number:1
Number:2
Number:3
Number:4
Number:5
[2, 4]